<%= render :partial => 'navbar' %>

<h1>Bill Splitter</h1>
<p>Yeet</p>

      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">$</div>
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="0.00">
      </div>

        <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">%</div>
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
      </div>

<%= render :partial => 'footer' %>